@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Mulish:wght@200;300;400&family=Roboto:wght@400;700&display=swap');

:root {
  --primary-white: #fff;
}

body {
  font-family: 'Roboto Condensed' sans-serif;
}
/* NAVBAR */

.logo {
  width: 10.25rem;
}

/* NAV LINKS */

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.55rem;
  margin-left: 00.55rem;
  color: var(--primary-white) !important;
}

.navbar-brand {
  max-width: 10.25rem;
  padding: 3px !important;
}
